* {
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#home{
    width: 100%;
    min-height: 80vh;
    background-color: #dadada;
}