body,
html {
    margin: 0;
    padding: 0;
    background-image: url('../media/courses/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}



.box {
    position: absolute;
    height: 50%;
    left: 40%;
    top: 40%;
    transform: translate(30%, -0%);
}

.box img {
    max-width: 100%;
    max-height: 100%;
}